<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/3f6a5c82-572c-4cd5-b58d-4dd66a390620/resourceGroups/firma_budowlana/providers/Microsoft.Web/sites/firmabudowlana</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://firmabudowlana.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>firmabudowlana.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>firmabudowlana</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$firmabudowlana</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Entities" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="firma_budowlana.Models.Entities, firma_budowlana" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="firma_budowlana_connection_string" Order="2" Enabled="False">
          <Destination Path="Data Source=studyprz.database.windows.net;Initial Catalog=my_db;User ID=Firma;Password=Budowlana2;Application Name=EntityFramework" Name="Data Source=studyprz.database.windows.net;Initial Catalog=my_db;User ID=Firma;Password=Budowlana2;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:firma-budowlanadbserver.database.windows.net,1433;Initial Catalog=firma_budowlana_db;User ID=FiRm4@firma-budowlanadbserver;Password=(oWl4na" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\firma_budowlana_connection_string_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=tcp:firma-budowlanadbserver.database.windows.net,1433;Initial Catalog=firma_budowlana_db;User Id=FiRm4@firma-budowlanadbserver;Password=(oWl4na" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="firma_budowlana_connection_string-Web.config Connection String">
      <ParameterValue>Data Source=studyprz.database.windows.net;Initial Catalog=my_db;User ID=Firma;Password=Budowlana2;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="Entities-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>