.table-header {
    text-align: center;
    margin: 0;
}

.table-name {
    color: #0099ff;
}

.table-line {
    margin-bottom: 20px !important;
}

th {
    color: #0099ff;
}

tr, td {
    color: white;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #0099ff;
    cursor: pointer;
    color: white;
}

th, td {
    text-align: center;
}

td:first-child {
    color: #0099ff;
}

.table-operation {
    background-color: #0099ff;
    color: white;
}

.table-operation a {
    color: white;
    font-size: 1.2rem;
}