@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>

    Wincentego Pola 2<br />
    35-021 Rzeszów<br />
    <abbr title="Tel.">Tel.:</abbr>
    123 456 789
</address>

<address>
    <strong>Pomoc:</strong><a href="mailto:161883@stud.prz.edu.pl">161883@stud.prz.edu.pl</a><br />
    <strong>Pomoc:</strong> <a href="mailto:161903@stud.prz.edu.pl">161903@stud.prz.edu.pl</a>
</address>