<div class="contact-box">
    <h1 class="contact-header">KONTAKT</h1>
    <hr class="my-4 col-xl-5 col-lg-5 col-md-6 col-sm-8 col-9">
    <p class="questions">
        Jeśli masz jakieś pytania, uwagi lub chcesz zawrzeć z nami współpracę, prosimy o kontakt
    </p>
    <ul class="list-group row contact-infos">
        <li class="list-group-item col-xl-5 col-lg-6 col-md-7 col-sm-9 col-11 contact-info">
            <div class="contact-info-header">
                <i class="fas fa-signature"></i>
                <span>Nazwa</span>
            </div>
            <span class="contact-info-value">Firma Budowlana</span>
        </li>
        <li class="list-group-item col-xl-5 col-lg-6 col-md-7 col-sm-9 col-11 contact-info">
            <div class="contact-info-header">
                <i class="fas fa-map-marked-alt"></i>
                <span>Adres</span>
            </div>
            <span class="contact-info-value">Wincentego Pola 2, 35-021 Rzeszów</span>
        </li>
        <li class="list-group-item col-xl-5 col-lg-6 col-md-7 col-sm-9 col-11 contact-info">
            <div class="contact-info-header">
                <i class="fas fa-phone"></i>
                <span>Telefon</span>
            </div>
            <span class="contact-info-value">123 456 789</span>
        </li>
        <li class="list-group-item col-xl-5 col-lg-6 col-md-7 col-sm-9 col-11 contact-info">
            <div class="contact-info-header">
                <i class="fas fa-at"></i>
                <span>Email</span>
            </div>
            <span class="contact-info-value">161883@stud.prz.edu.pl</span>
        </li>
        <li class="list-group-item col-xl-5 col-lg-6 col-md-7 col-sm-9 col-11 contact-info">
            <div class="contact-info-header">
                <i class="fas fa-at"></i>
                <span>Email</span>
            </div>
            <span class="contact-info-value">161903@stud.prz.edu.pl</span>
        </li>
    </ul>
</div>