@{
    ViewBag.Title = "Strona główna";
}

<div class="jumbotron">
    <h1>Firma Budowlana</h1>
    <p class="lead">Zajmujemy się czymś.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Zbuduj dom z nami</h2>
        <p>
            Oferujemy
        </p>
    </div>
</div>